<div class="container" [class.open]="isOpen">
  <canvas #confettiCanvas class="confetti-canvas"></canvas>

  <div 
    class="envelope-wrapper" 
    [class.open]="isOpen"
    (click)="toggleEnvelope()"
  >
    <div class="letter" [@letterState]="isOpen ? 'open' : 'closed'">
      <div class="text">
        <p>Hoje a melhor pessoa do mundo completa mais um ano de vida!</p>
        <p>
          Que todos os seus sonhos se realizem, que consiga conquistar todos os seus
          desejos e que seja sempre muito feliz!
        </p>
        <p>
          Você é especial, é uma pessoa que deixa alegria por onde passa, extremamente esforçada e que todos com certeza admiram (sou seu fã número 1).
        </p>
        <p>
          Obrigado por tudo que você é, meu amor! Que esse seja o primeiro de muitos aniversários que vamos celebrar juntos!
        </p>
      </div>
    </div>


    <div class="envelope">
      <div class="envelope-labels">
        <div class="from">De: Leandro</div>
        <div class="to">Para: Ester</div>
      </div>
      <div class="flap" [@flapState]="isOpen ? 'open' : 'closed'"></div>
      <div class="body"></div>
    </div>
  </div>
</div>